@import "tailwindcss";
@theme {
  --color-primary: #7fbeeb;
  --color-secondary: #e1f0ff;
  --color-tertiary: #2d4b63;
  --color-neutral: #64748b;
}
@layer base {
  :root {
    @apply bg-secondary;
  }
}
